

/*Menú*/
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    font-family: Arial, sans-serif; 
    background: #1111; 
    color: #fff
}


/*barra superior*/

.top-bar{
    background: #000;
      color: #fff;
      text-align: center;
      font-size: 14px;
      padding: 5px 10px;
}

/* Navbar principal */
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #1a1a1a;
      padding: 10px 20px;
      flex-wrap: wrap;
    }

    

    .search-bar {
      flex: 1;
      display: flex;
      justify-content: center;
      gap: 5px;
      max-width: 500px;
    }

    .search-bar input, .search-bar select {
      padding: 8px;
      border-radius: 5px;
      border: none;
    }

    .search-bar button {
      padding: 8px 12px;
      border-radius: 5px;
      border: 1px solid #ffc107;
      background: none;
      color: #ffc107;
      cursor: pointer;
    }

     .d-flex .fab{
      color:#ffcc00;
      font-size: 20px;
      transition: color 0.3s ease;
     }

     .d-flex .fab:hover{
      color: orange
     }

    /* Menú inferior */
    .menu {
      background: #222;
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
      padding: 10px;
    }

    .menu a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
    }

    .menu a.active {
      background: #ffc107;
      color: #000;
      padding: 5px 10px;
      border-radius: 5px;
    }

    /* Responsive */
    @media (max-width: 900px) {
      .navbar-center {
        display: none; /* Oculto en móvil */
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
      }
      .navbar-center.active {
        display: flex; /* Se activa al apretar hamburguesa */
      }
      .hamburger {
        display: block;
      }
      .menu {
        flex-direction: column;
        align-items: center;
      }

    }


  .social-icons a {
  color: #e7e709; /* color por defecto, blanco */
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #00ff99; /* color al pasar el mouse */
}


    

      
        
     
