 /*fondo*/
    .battlefield-blog {
        background-image: url('https://wallpapers.com/images/hd/commander-in-battlefield-game-sgwljgqafr12h74w.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #fff; /* Asegura que el texto sea legible sobre el fondo */
    }

    /*capa oscura*/
    .battlefield-blog::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta el nivel de oscuridad aquí */
    z-index: -1;
    }

    /* Portada */
    .portada {
      background-image: url('https://gaming-cdn.com/images/news/articles/14550/cover/la-version-de-pc-de-battlefield-6-protagoniza-un-nuevo-trailer-cover68b09e1f4d508.jpg');
      background-size: cover;
      background-position: center;
      height: 700px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      
    }

   

    /* Tarjetas de contenido */
    .feature-card img {
      width: 80%;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }

    .feature-card h2 {
      font-size: 1.25rem;
      margin-top: 15px;
       text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;

    }

    .feature-card p {
      font-size: 0.95rem;
      line-height: 1.5;
       text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;

    }

    .seccion-intermedia {
        background-color: #222121;
        padding: 40px 20px;
        border-radius: 10px;
        }