


.splide__slide img {
  width: 500px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 1; /* Nivel base */
}

.splide__slide img:hover {
  transform: scale(1.03);
   z-index: 3;
}

.splide__list {
  display: flex;
  gap: 1rem; /* Espacio entre imágenes */
 scroll-snap-type: x mandatory;
  overflow-x: auto; /* Permite desplazamiento horizontal si hay muchas imágenes */
  padding: 20px 0;
}

.splide__slide {
  flex-shrink: 0; /* Evita que se achiquen */
  scroll-snap-align: center;
  position: relative; /* Permite controlar el z-index dentro */
  overflow: visible;  /* Deja que el zoom sobresalga */

}

.list-group-item {
  background-color: transparent !important;
  
  
}