 
 /*fondo*/

 
    /* Fondo general oscuro */
.dark-bg {
  background-color: #0d1117; /* azul oscuro tirando a negro */
  color: white;
}

/* Capa oscura transparente sobre la imagen */
.overlay-dark {
  position: relative;
}

.overlay-dark::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8); /* Nivel de oscuridad */
  z-index: 0;
}

/* Asegura que el contenido quede sobre la capa oscura */
.overlay-dark > * {
  position: relative;
  z-index: 1;
}

    .fondo-gow-ragnarok {
        background-image: url('https://akihabarablues.b-cdn.net/wp-content/uploads/2024/10/steel-magnolia-15owu.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #fff; /* Asegura que el texto sea legible sobre el fondo */
    }


    .fondo-DeathStranding2{
        background-image: url('https://cdn.wccftech.com/wp-content/uploads/2025/02/death-stranding-2-on-the-beach-HD-1920x1080.jpeg');
         background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #fff; /* Asegura que el texto sea legible sobre el fondo */
    }



    .fondo-Gtavl{
        background-image: url('https://www.rockstargames.com/VI/_next/static/media/Jason_and_Lucia_02_With_Logos_landscape.93ab5523.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #fff; /* Asegura que el texto sea legible sobre el fondo */
    }

  .fondo-Fc26{
        background-image: url('img/ea-sports-portadafc26.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #fff; /* Asegura que el texto sea legible sobre el fondo */

    }

  

    

