/*Noticias blog*/
   .news-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.news-card img {
  width: 100%;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  filter: brightness(70%);
  transition: transform 0.3s ease;
  display: block;
}

.news-card:hover img {
  transform: scale(1.05);
}

.news-card .overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: #fff;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
}

.news-card h5 {
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.titulo-noticias {
  color: #f8cd34;
}
